.content {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
}

.container {
  display: flex;
  align-items: center;
  color: rgb(49, 89, 199);
}

.title {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
}

.radio {
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: 5px;
}